<!DOCTYPE html>
<html lang=uk>
<head>
	<title>Архітектура</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
 <div class="container-fluid">
    <nav class="navbar navbar-default">      
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<p class="text-primary">
					<span class="glyphicon glyphicon-arrow-left"></span>
					<strong>Архітектура міста Львова</strong>
				</p>
			</a>
		</div>
    </nav>
    <div class="text-center page-header container-fluid"  
		style="font-family:Times; background-color: #eeeeff"> 
		<h1><%= tpName %></h1>
		</div>
	</div>
	<ul>
		<% for (i = 0; i < arcObjects.length; i++) { %> 
			<div class="tpObject">
				</br>
				<li><a href="/obj/<%= arcObjects[i].id %>"><%= arcObjects[i].objName %></a></<li>
			</div>
		<% } %>
	</ul>
</body>
</html>